html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;

	margin: 0 0 60px 0;
	padding: 0;
}
h1 {
	font-weight: normal;

	margin-top: 0;
}
fieldset {
	margin-bottom: 15px !important;
}
legend {
	font-size: 1.2em;
}