@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}
.flaticon-arrow628:before {
	content: "\e000";
}
.flaticon-arrow633:before {
	content: "\e001";
}
.flaticon-arrows105:before {
	content: "\e002";
}
.flaticon-back58:before {
	content: "\e003";
}
.flaticon-back61:before {
	content: "\e004";
}
.flaticon-curved28:before {
	content: "\e005";
}
.flaticon-curved29:before {
	content: "\e006";
}
.flaticon-curved32:before {
	content: "\e007";
}
.flaticon-curved34:before {
	content: "\e008";
}
.flaticon-down103:before {
	content: "\e009";
}
.flaticon-down104:before {
	content: "\e00a";
}
.flaticon-down106:before {
	content: "\e00b";
}
.flaticon-down107:before {
	content: "\e00c";
}
.flaticon-down108:before {
	content: "\e00d";
}
.flaticon-down109:before {
	content: "\e00e";
}
.flaticon-down112:before {
	content: "\e00f";
}
.flaticon-down113:before {
	content: "\e010";
}
.flaticon-down114:before {
	content: "\e011";
}
.flaticon-down116:before {
	content: "\e012";
}
.flaticon-down118:before {
	content: "\e013";
}
.flaticon-down119:before {
	content: "\e014";
}
.flaticon-down120:before {
	content: "\e015";
}
.flaticon-down121:before {
	content: "\e016";
}
.flaticon-download163:before {
	content: "\e017";
}
.flaticon-fast44:before {
	content: "\e018";
}
.flaticon-left207:before {
	content: "\e019";
}
.flaticon-left208:before {
	content: "\e01a";
}
.flaticon-left209:before {
	content: "\e01b";
}
.flaticon-left210:before {
	content: "\e01c";
}
.flaticon-left213:before {
	content: "\e01d";
}
.flaticon-left214:before {
	content: "\e01e";
}
.flaticon-rewind44:before {
	content: "\e01f";
}
.flaticon-right208:before {
	content: "\e020";
}
.flaticon-right210:before {
	content: "\e021";
}
.flaticon-right217:before {
	content: "\e022";
}
.flaticon-right218:before {
	content: "\e023";
}
.flaticon-right220:before {
	content: "\e024";
}
.flaticon-right222:before {
	content: "\e025";
}
.flaticon-right224:before {
	content: "\e026";
}
.flaticon-right230:before {
	content: "\e027";
}
.flaticon-right235:before {
	content: "\e028";
}
.flaticon-two379:before {
	content: "\e029";
}
.flaticon-two386:before {
	content: "\e02a";
}
.flaticon-two389:before {
	content: "\e02b";
}
.flaticon-up155:before {
	content: "\e02c";
}
.flaticon-up157:before {
	content: "\e02d";
}
.flaticon-up158:before {
	content: "\e02e";
}
.flaticon-up161:before {
	content: "\e02f";
}
.flaticon-up163:before {
	content: "\e030";
}
.flaticon-up164:before {
	content: "\e031";
}
.flaticon-up166:before {
	content: "\e032";
}
.flaticon-up168:before {
	content: "\e033";
}
.flaticon-up173:before {
	content: "\e034";
}
.flaticon-up174:before {
	content: "\e035";
}
.flaticon-upper13:before {
	content: "\e036";
}
.flaticon-upper15:before {
	content: "\e037";
}
.flaticon-upper16:before {
	content: "\e038";
}
.flaticon-upper17:before {
	content: "\e039";
}
.flaticon-upper18:before {
	content: "\e03a";
}
.flaticon-upper19:before {
	content: "\e03b";
}
