.l-page {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.l-content {
	padding-top: 20px;
}
.l-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.pure-g-margin {
	position: relative;
	margin-left: -1em;
	margin-right: -1em;
}
.pure-g-margin > div {
	font-family: 'Open Sans', sans-serif;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding-left: 1em;
	padding-right: 1em;
}