.input-suffix {
	display: inline-block;
	vertical-align: middle;
}

.pure-button.zeroclipboard-is-hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
	background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	cursor: pointer;
}
.pure-button.zeroclipboard-is-active {
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
	border-color: #000\9;
}

.panel {

}
.panel-transparent {
	background: url('../images/transparent.png');
}
.panel-line {
	height: 30px;

	border: 1px solid #ccc;
	cursor: pointer;
}
.panel-markers {
	position: relative;
	height: 20px;

	margin-top: 1px;
	margin-left: -6px;
	margin-right: -6px;
}
.panel-marker {
	position: absolute;
	top: 7px;
	width: 10px;
	height: 10px;

	border: 1px solid #bbb;
}
.panel-marker.is-active {
	border-color: #0078e7;
}
.panel-marker:before {
	position: absolute;
	left: -1px;
	top: -8px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 7px 6px;
	border-color: transparent transparent #bbb transparent;
}
.panel-marker.is-active:before {
	border-bottom-color: #0078e7;
}
.panel-reverse {
	margin-top: 15px;
}

.marker-settings {

}
.marker-settings-color-color {
	float: left;
	margin-right: 20px;
}
.marker-settings label {
	display: block;
	float: left;

	line-height: 40px;

	margin: 0 8px 0 0;
}
.marker-settings-color-picker {
	float: left;
	width: 38px;
	height: 38px;

	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}
.marker-settings-color-picker.is-disabled {
	background-color: #eaeded !important;
	cursor: not-allowed;
}
.marker-settings-color-location {
	float: left;
	margin-right: 20px;
}
.marker-settings-color-location-input {
	width: 100px;
}

.direction {

}
.direction-presets {
	margin-bottom: 10px;
}
.btn-direction-preset {
	font-size: 22px;
	line-height: 1;

	padding: 10px;
}
.direction-knob {
	float: left;
	margin-right: 20px;
}
.direction-input {
	width: 100px;

	margin-top: 5px;
}

.preview {

}
.preview-panel-transparent {
	background: url('../images/transparent.png');
}
.preview-panel-gradient {
	height: 200px;
}
.preview-css-code {
	width: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	white-space: pre;
	word-wrap: normal;

	overflow-x: scroll;
	overflow-y: auto;
	resize: vertical;
	margin-bottom: 5px;
}

.footer-inner {
	width: 960px;

	font-size: 14px;
	color: #666;

	border-top: 1px solid #e5e5e5;
	margin: 0 auto;
	padding-top: 15px;
	overflow: hidden;
}
.copyright {
	float: left;
}
.sources {
	float: right;
}
.copyright > a, .sources > a {
	color: #666;
}